body {
    background-image: url("../images/back.jpg");
    background-size: cover;
    background-position: center ;
}
.main {
    min-height: calc(100vh - 116px);
}
.slogan {
    margin-top: 50px;
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    color: rgb(228, 42, 42);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 25px;
    background: rgb(255, 255, 255, 0.7);
}
.text {
    border: 1px solid black;
    padding: 10px;
    background: lightgoldenrodyellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 25px;
}

.text > p {
    font-size: 18.5px;
    text-align: justify;
}
footer {
    background: rgb(255, 255, 255, 1);
    height: 60px;
    text-align: center;
    padding: 18px;
    font-size: 16px;
}
#stat {
    background: rgb(255, 255, 255, 0.7);
    padding: 10px;
    vertical-align: middle;
    margin-top: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}
.image {
    margin-bottom: 25px;
}
.map {
    background: rgb(255, 255, 255, 0.7);
    padding: 10px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .slogan {
        font-size: 50px;
    }
}

